<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="author" content="minddust">
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="/libs/qunit-1.12.0.css">
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture">
        <nav id="main-menu">
            <ul>
                <li><a href="/home/" data-pjaxr>home</a></li>
                <li><a href="/blog/" data-pjaxr>blog</a></li>
                <li><a href="/no-data/?foo=1&bar=2" data-pjaxr>no-data</a></li>
                <li><a href="/empty/" data-pjaxr>empty</a></li>
                <li><a href="/script/" data-pjaxr>script</a></li>
                <li><a href="/titles/" data-pjaxr>titles</a></li>
                <li id="menu-extra-entry">{% block menu_extra_entry %}{% endblock %}</li>
            </ul>
        </nav>
        <div id="content">{% block content %}{% endblock %}</div>
    </div>
    <script type="text/javascript" src="/libs/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="/libs/qunit-1.12.0.js"></script>
    <script type="text/javascript" src="/jquery.pjaxr.js"></script>
    <script type="text/javascript" src="/qunit/pjaxr.js"></script>
</body>
</html>