{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery.pjaxr.js' %}"></script>
        <script class="to_be_removed_script" data-remove-on-pjaxr></script>
        {% block inner_head %}{% endblock inner_head %}
    </head>
    <body data-pjaxr-namespace="{% block pjaxr_namespace %}{% endblock pjaxr_namespace %}">
        {% block site %}
            <div id="site">
                {% block page %}{% endblock page %}
            </div>
        {% endblock site %}
        <script type="text/javascript">
            $(document).ready(function() {
                if ($.support.pjaxr) {
                    $(document).on('click', 'a[data-pjaxr]', function(event) {
                        $(document).pjaxr.click(event);
                    });
                }

                $(document).on('pjaxr:click', function() { $('body').attr('data-selenium-pjaxr-click', 'true'); });
                $(document).on('pjaxr:beforeSend', function() { $('body').attr('data-selenium-pjaxr-before-send', 'true'); });
                $(document).on('pjaxr:send', function() { $('body').attr('data-selenium-pjaxr-send', 'true'); });
                $(document).on('pjaxr:timeout', function() { $('body').attr('data-selenium-pjaxr-timeout', 'true'); });
                $(document).on('pjaxr:start', function() { $('body').attr('data-selenium-pjaxr-start', 'true'); });
                $(document).on('pjaxr:success', function() { $('body').attr('data-selenium-pjaxr-success', 'true'); });
                $(document).on('pjaxr:done', function() { $('body').attr('data-selenium-pjaxr-done', 'true'); });
                $(document).on('pjaxr:fail', function() { $('body').attr('data-selenium-pjaxr-fail', 'true'); });
                $(document).on('pjaxr:always', function() { $('body').attr('data-selenium-pjaxr-always', 'true'); });
                $(document).on('pjaxr:end', function() { $('body').attr('data-selenium-pjaxr-end', 'true'); });

                $.fn.removeAttrs = function(regex) {
                    return this.each(function() {
                        var $this = $(this);
                        var names = [];
                        $.each(this.attributes, function(i, attr) {
                            if (attr.specified && regex.test(attr.name)) {
                                names.push(attr.name);
                            }
                        });
                        $.each(names, function(i, name) {
                            $this.removeAttr(name);
                        });
                    });
                };
            });
        </script>
    </body>
</html>
